.edition-container{
  margin-top: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;

}

.edition-input{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.edition-input input{
  font-size: larger;
  margin: 10px 10px;
}
.edition-button{
  display: flex;
  flex-direction: row;
}

.edit-button,.edition-button button{
  width:100px;
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 10px;
  border:0.2px solid rgb(91, 66, 183);
  background-color: #ffffff;
  color: rgb(91, 66, 183);

}

  .header {
    color: #000000;
    margin-bottom: 2rem;
  }

  @media (min-width: 720px) {
    .edition-input{
      flex-direction: row;
    }
  
  }