.footer {
    display: flex;
    width:100%;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
    height:50px;
  }
  
  .footer-text {
    margin: 0;
    padding: 0;
  }